* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Open Sans";
}
.container {
  padding: 60px 0px;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}
.titulo {
  color: #0b2cb1;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}
/*Header*/
header {
  width: 100%;
  height: 800px;
  background: hsla(191, 60%, 43%, 0.306), url(./img/prueba1.png); /* fallback for old browsers */
  background: -webkit-linear-gradient(
      to right,
      hsla(195, 60%, 35%, 0.495),
      hsla(191, 60%, 43%, 0.354)
    ),
    url(./img/prueba1.png); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
      to right,
      hsla(195, 46%, 40%, 0.709),
      hsla(191, 80%, 41%, 0.896)
    ),
    url(./img/prueba1.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: cover;
}
nav {
  padding: 30px 10px 0 0;
  text-align: right;
  font-weight: bolder;
  padding-bottom: 15%;
  position: fixed;
  padding-left: 0;
}
nav a {
  color: black;
  font-weight: 100;
  font-size: 0.15;
  text-decoration: solid;
  margin-right: 10px;
  background-color: rgba(240, 248, 255, 0.483);
  padding-left: 1%;
  padding-right: 1%;
}
nav a:hover {
  text-decoration: overline;
  font-weight: 300;
  color: white;
}

header .textos-header {
  display: flex;
  height: 420px;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 20%;
}

.textos-header h1 {
  font-size: 50px;
  color: white;
  font-weight: 800;
}

.textos-header h2 {
  font-size: 30px;
  color: white;
  font-weight: 500;
  margin: 5%;
}
.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container-servicios {
  width: 100%;
  height: auto;
  text-align: justify;
  justify-content: space-evenly;
}
.container-textos-servicios {
  width: 60%;
  float: right;
}
.container-textos-servicios h3 {
  font-size: 15px;
  font-weight: bold;
  padding-top: 30px;
}
.container-textos-servicios h3 span {
  background-color: rgb(51, 51, 126);
  color: white;
  border-radius: 25%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 25px;
  padding: 3px;
  box-shadow: inset;
}
.container-textos-servicios p {
  padding: 10px 0 30px 30px;
  font-weight: 200;
  text-align: justify;
}
.imagen-servicios {
  float: left;
  margin: 0;
  padding-left: 5%;
}
.lista {
  padding: 0 0 10% 15%;
}

.lista ul li {
  margin-top: 5%;
  margin-bottom: 5%;
}

.card {
  display: inline-flex;
  margin: auto;
}
.nosotros {
  margin: auto;
}
.container-textos-servicios {
  padding-left: 0;
  width: 70%;
}
.card-title {
  font-weight: bolder;
}
form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.05);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}
form h2 {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  border: none;
  border-radius: 10%;
}

textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  border: none;
  border-radius: 10%;
}

@media (max-width: 480px) {
  form {
    width: 100%;
  }

  .textos-header h1 {
    font-size: 20px;
    color: white;
    font-weight: 500;
  }

  .textos-header h2 {
    font-size: 10px;
    color: white;
    font-weight: 300;
    margin: 5%;
  }
}

.content {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.content-footer h6 {
  color: rgb(61, 61, 180);
  font-weight: bolder;
}
.content-footer p {
  color: black;
  font-weight: bold;
  font-size: 0.75rem;
}
footer {
  background: rgba(0, 0, 0, 0.267);
  padding: 1%;
  margin: auto;
}
@media (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  .content-footer h6 {
    color: rgb(61, 61, 180);
    font-weight: bold;
    font-size: 0.75rem;
  }
  .content-footer p {
    color: black;
    font-weight: 200;
    font-size: 0.5rem;
    width: 100%;
  }
  nav a {
    color: black;
    font-weight: 100;
    font-size: 0.7rem;
    text-decoration: solid;
    margin-right: 5px;
    background-color: rgba(240, 248, 255, 0.483);
    padding-left: 1%;
    padding-right: 1%;
  }
  nav img {
    display: none;
  }
  .textos-header h1 {
    font-size: 20px;
    color: white;
    font-weight: 500;
  }

  .textos-header h2 {
    font-size: 10px;
    color: white;
    font-weight: 300;
    margin: 5%;
  }
}
@media (max-width: 700px) {
  .textos-header h1 {
    font-size: 20px;
    color: white;
    font-weight: 500;
  }

  .textos-header h2 {
    font-size: 10px;
    color: white;
    font-weight: 300;
    margin: 5%;
  }
}
